@font-face {
    font-family: 'font';
    src: url(images/MikeaRoundedDemoRegular-3lzYG.otf);
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    
    margin: -1px;
    overflow-x: hidden;
}

.header{
    padding-top: 30px;
    justify-content: center;
   
}
.home,.adopt,.foster,.donate,.aboutus,.contact{
    margin-left: 20px;
    justify-content: center;
    margin-top: 40px;
    height: 15px;
    text-align: center;
    width: 75px;
    padding: 10px;
    border: rgb(171, 162, 132) 1px solid;
    border-radius: 15px;
    color: rgb(171, 162, 132);
    transition: transform 0.3s ease, color 0.3s ease;

}
.home:hover,.adopt:hover,.foster:hover,.donate:hover,.aboutus:hover,.contact:hover{
    transform: scale(1.2);
}
.holder{
    height: 600px;
    background-image: url(images/aboutusbg.jpg);
    background-size: cover;
}
.introtext{
    font-family: 'font';

    color: rgb(81, 77, 63);
    margin-left: 35%;
    margin-top: -37%;
    position: absolute;
    /* padding-top: 30px; */
    font-size: 65px;
    text-align: center;
}



.aboutustext{
    margin-top: 70px;
    margin-left: 15%;
    background-color: #e8e8e4;
    width: 600px;
    height: 450px;

}
.texty{
    font-size: 25px;
    color: rgb(81, 77, 63);
    font-family: 'font';
    width: 300px;
    padding-left: 30px;
    padding-top: 90px;
    text-align: left;
}
.aboutuspic{
    margin-top: -28%;
    margin-left: 45%;
    position: absolute
}

.ourstory{
    margin-left: 18%;
    margin-top: 30%;
    padding-top: 25%;
    width: 800px;
    background-color: #f5f4ee;
    color: rgb(81, 77, 63);


}
.ourstorytext{
    padding-top: 40px;
    font-size: 20px;
    padding-left:90px;   
     padding-right:90px;
    text-align: justify;
    padding-bottom: 90px;
}
.ourstorytitle{
    font-family: 'font';
    font-size: 30px;
    text-align: center;
}
.ourmissionpic{
    margin-left: 38%;
    z-index: 999;
    margin-top: -102%;
    position: absolute;
}


















.footer{
    margin-top: 70px;
    background-color: #f5f4ee;
    height: 150px;
align-content: center;
padding-left: 28%;
}
.footer>img{

    padding: 30px;
}